#buttons-bar{
    justify-content: space-evenly;
}
/* single btn */
.btn-row-class{
    display: flex;
    flex-direction: row;  
}

.btn-row-class svg{
    padding-right: 4px;
}

.btn-desc{
    justify-content: space-between;
    padding: 0px 20px;
}
/*----------- first bar ------------------------------------------ */

/* class for first btn (likes) */
.first-bar-first-btn{
    display: flex;
    align-items: center;
}
.first-bar-first-btn .btn-icon{  
    color: #32BAA3;
}
.first-bar-first-btn .btn-title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;    
    color: #737877;
}

/* class for second btn (coments)*/
.first-bar-sec-btn .btn-title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;    
    color: #737877;
}

/*----------- second bar ------------------------------------------ */
.second-bar-clicked-btn {
    color: #0A66C2;
    display: flex;
    align-items: center;
}

.second-bar-unclicked-btn{
    display: flex;
    color: #737877;
    align-items: center;
}
.second-bar-second-item{
    display: flex;
    color: #737877;
}
/* --------------------------------------------------------------- */