
  .user-name{
    color: black;
    margin-bottom: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .sub-title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .shop-name{
    color: #0A66C2;
  }
  .user-date{
    color: #949796;
  }
  .middle-dot{
    color: #949796;
    font-weight: unset !important;
  }

  
.user-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
  }

.user-data{
    padding-left: 2px;
    align-items: flex-start;
    flex-direction: column;
    line-height: 0.1px;
    display: flex;
}

.user-pro-label{
  background-color: rgba(25,30,28,.8);
  color: white;
  gap: 5px;
  width: 6%;
  border-radius: 4px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .user-pro-labe-text{
    display: none;
  }
  .user-pro-label{
    justify-content: space-around;
  }
 }
